@use "./assets/css/reset";

body {
  background-color: #082032;
  color: #fff;
  em {
    font-style: normal;
  }

  #intro,
  #value,
  #skill,
  #career,
  #project,
  #ending {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: calc(var(--spacing) * 30);
  }
}
