@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
  /* 색상 */
  --color-main-bg: #082032;
  --color-main-text: #f87b1b;
  --color-sub-text: #a5a5a5;
  --color-overlay: #555555;

  /* --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  } */
}
